<div class="container">
  <div class="row">
    <div class="col-12 mt-5 pt-5 mb-5 me-auto text-center">
      <section class="timer-counter-label">
        <div *ngIf="displayTimer; else elseBlock"> 
          <h1>{{displayTimer}}</h1> 
        </div>
        <ng-template #elseBlock> <h1>00:00:00</h1> </ng-template>
      </section>
      <section class="timer-button-container mt-4">
        <button class="btn btn-dark me-3" (click)="toggleTimer()">
            {{ startText }}
        </button>
        <button class="btn btn-dark me-3" (click)="wait()">
            Wait
        </button>
        <button class="btn btn-dark" (click)="reset()">
            Reset
        </button>
      </section>
    </div>
  </div>
</div>